.header__subtitle {
    width: 388px;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    z-index: 3;
    position: absolute;
    left: 64px;
    bottom: 30px;
    margin: 0;
  }
